*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1e902b;
}

.header{
  min-height: 100vh;
  width: 100%;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 200px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 18px;
  position: relative;
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
