.page3 {
  min-height: 100vh;
  width: 100%;
  background-color:  #1e902b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.faq-headings{
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.faq-item{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px 20%;
}

.faq-question{
  font-size: 19px;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.faq-answer{
  font-size: 16px;
  color: white
}

