.page3 {
  min-height: 100vh;
  width: 100%;
  background-color:  #1e902b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 20px;
}

.faq-headings{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.faq-item{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px 20%;
}

.faq-question{
  font-size: 19px;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.faq-answer{
  font-size: 16px;
  color: white
}


.faq-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.faq-row-item{
  font-size: 17px;
  color:grey;
  background-color: white;
  border: none;
  margin: 15px;
  padding: 10px 20px;
  border-radius: 50px;
}
