.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.person-pic-div{
  flex:1;
}

.person-pic{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 60%;
  margin-right: 20px;
}

.person-info{
  margin-left: 30px;
  flex: 2;
  font-size: 20px
}

