.page3 {
  min-height: 100vh;
  width: 100%;
  background-color:  #1e902b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.faq-headings{
  font-size: 30px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
}




