* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-color: #1e902b;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 200px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 18px;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links a {
    color: #1e902b;
    text-decoration: none;
    font-size: 18px;
  }
  nav .fa {
    display: block;
    color: black;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

.text-box{
  width: 100%;
  color: white;
  position: absolute;
  /* top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center; */
}

.text-box a{
  font-size: 30px;
}

.text-box img{
  width: 250px;
  height:500px;
  position: relative;
  left: 10%;
}

.download-button{
  display: inline-block;
  text-decoration: none;
  color: rgb(96, 91, 91);
  padding: 12px 34px;
  background: white;
  position: relative;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  top: 5%;
  left: 10%;
  align-items: center;
}

.download-button:hover{
  background-color: #e6b1ad;
  /* box-shadow: 0px 15px 20px  #dec5c3; */
  color: #fff;
  transform: translateY(-7px);
  transition: .5s;
}
