* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-color: #1e902b;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 200px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 18px;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.download-app-div{
  width: 400px;
}

.download-button{
  display: inline-block;
  text-decoration: none;
  color: rgb(96, 91, 91);
  padding: 12px 34px;
  background: white;
  position: relative;
  cursor: pointer;
  border-radius: 45px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  top: 60%;
  left: 20%;
  align-items: center;
  font-size: 20px;
}

.download-button:hover{
  background-color: #e6b1ad;
   box-shadow: 0px 15px 20px  #dec5c3;
  color: #fff;
  transform: translateY(-7px);
  transition: .5s;
}

.app-pic-div{
  flex: 1;
}

.app-pic{
  width: 250px;
  margin-left: 20%;
  border: none;
  border-radius: 5px;
}


@media (max-width: 700px) {
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links a {
    color: #1e902b;
    text-decoration: none;
    font-size: 18px;
  }
  nav .fa {
    display: block;
    color: black;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}



